.about-sec1 {
    width: 100%;
    margin-top: 3rem;
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.about-sec1 .title {
    font-family: 'wanoMedium';
    font-size: 6rem;
    line-height: 80px;
    letter-spacing: 2px;
    color: var(--text-color);
}

.about-sec1 .desc {
    font-family: 'serif';
    font-size: 1.3rem;
    font-weight: lighter;
    color: var(--text-color);
    width: 70%;
}

.about-sec1 span {
    display: block;
    padding-top: 2rem;
}


