.rakan-xaleena {
    width: 900px;
    margin-top: 3rem;
    margin-left: -1.5rem;
    border: 5px solid var(--green-color);
    border-radius: 20px;
    overflow: hidden;
}

.about-sec2 {
    display: flex;
    padding: 4.7rem 3rem;
    gap: 1rem;
}

.about-sec2 .title {
    font-size: 6rem;
    font-family: 'wanoMedium';
    color: var(--text-color);
    line-height: 80px;
    letter-spacing: 2px;
    margin-right: -3rem;
}

.about-sec2 .desc {
    font-family: serif;
    font-size: 1.13rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    width: 70%;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

@media (max-width: 824px) {
    .about-sec2 {
        gap: 2rem;
    }

    .about-sec2 .title {
        font-size: 4rem;
        line-height: 60px;
        padding-right: 1rem;
    }

    .about-sec2 .desc {
        width: 100%;
        font-size: 1.2rem;
    }
}

@media (max-width: 487px) {
    .about-sec2 {
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        padding: 0;
        margin-top: 4rem;
    }

    .about-sec2 .title {
        font-size: 3.8rem;
        width: 100%;
        line-height: 60px;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .about-sec2 .desc {
        padding: 0 1.4rem;
    }

    .rakan-xaleena {
        width: 110%;
    }
}

@media (min-width: 1920px) {
    .rakan-xaleena {
        width: 1000px;
        margin-top: 3rem;
        margin-left: -1.5rem;
        border: 5px solid var(--green-color);
        border-radius: 20px;
    }
    
    .about-sec2 .title {
        font-size: 7rem;
        letter-spacing: 5px;
        line-height: 90px;
        padding-right: 1rem;
    }

    .about-sec2 .desc {
        font-family: serif;
        font-size: 1.7rem;
        color: var(--text-color);
        margin-bottom: 2rem;
        width: 70%;
        font-weight: lighter;
    }
}