header {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 100%;
    height: 100vh;
}

.header-kiri {
    background-color: var(--white-color);
}

.header-kanan {
    background-image: url(../../../public/images/header.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.title-header {
    width: 100%;
    height: 300px;
}

.tagline-wrapper {
    width: 80%;
}

.title-header a {
    font-family: 'wanoMedium';
    color: var(--text-color);
    font-size: 12rem;
    position: absolute;
    top: 40px;
    left: 30px;
    text-decoration: none;
}

.tagline {
    padding: 0px 33px;
}

.tagline p {
    font-family: 'Raleway', serif;
    color: var(--text-color);
    /* font-weight: 500; */
    text-align: start;
    font-size: 1.8rem;
    margin-bottom: 5px;
    font-weight: 400;
    line-height: 2rem;
    margin-top: -2rem;
}

header .tagline button {
    font-size: .85rem;
    margin-top: 35px;
    border-radius: 30px;
    border: none;
    padding: 13.5px 35px;
    background-color: var(--green-color);
    color: var(--text-color);
    cursor: none;
    font-family: 'Raleway', sans-serif;
}

span i {
    transition: .5s;
}

.tagline button:hover span i {
    transform: scale(1.4);
    transform: translateX(5px);
}

.body-cursor {
    width: 18px;
    height: 18px;
    position: fixed;
    background-color: var(--white-color);
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    transform: translate(-50%, -50%);
    left: 10px;
    z-index: 99999;
    transition: width 0.5s, height 0.5s;
}

.child-cursor {
    width: 9px;
    height: 9px;
    position: fixed;
    background-color: var(--white-color);
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    transform: translate(80%);
    left: 10px;
    top: 10px;
    z-index: 99999;
    transition: width 1.5s, height 1.5s;
    animation: cursorAnim 5s infinite ease-in-out;
}

.body-cursor.grow {
    width: 450px;
    height: 450px;
    transition: width 0.5s, height 0.5s;
}

@keyframes cursorAnim {
    0% {transform: translate(10%);}
    50% {transform: translate(80%);}
    100% {transform: translate(10%);}
}

.button-header {
    text-decoration: none;
    color: var(--text-color);
}

.header-kiri button span {
    margin-left: .35rem;
}

@media (max-width: 558px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 700px;
    }

    .header-kiri {
        width: 100%;
        height: 100%;
        order: 1;
    }

    .header-kiri .title-header {
        margin-top: 10px;
        height: 100px;
        margin-bottom: 10px;
    }

    .header-kiri .title-header a {
        text-align: center;
        font-size: 6.7rem;
        position: relative;
        top: 0;
        left: 0;
    }

    .tagline-wrapper {
        margin: 0px auto;
        margin-bottom: .7rem;
    }

    .tagline .tagline-wrapper p {
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.6rem;
        margin-top: 1rem;
    }

    .tagline button {
        margin-top: 1rem;
    }

    .header-kanan {
        width: 100%;
        height: 90%;
        order: 0;
        background-position: center;
        background-attachment: scroll;
    }
}

@media (max-width: 778px) {
    .container-navbar ul li a {
        font-size: 4rem;
    }

   /* header */
   .title-header {
        height: 200px;
   }

   .title-header a {
        font-size: 9rem;
   }

   .tagline {
        text-align: center;
   }

   .tagline p {
        font-size: 1.5rem;
        /* text-align: center; */
        line-height: 38px;
        margin-bottom: 2px;
   }
}

@media (min-width: 1920px) {
    .title-header a {
        font-size: 19rem;
    }

    .tagline p {
        font-size: 2.6rem;
        margin-top: 2rem;
        line-height: 3.5rem;
    }

    .header-kiri .tagline button {
        margin-top: 4rem;
        font-size: .8rem;
    }
}