:root {
  --blue-color : #454D66;
  --green-color : #B1C387;
  --white-color : #FFF8EA;
  --text-color : #3F3F3F;
  --border-radius : 200px;
  --border-img : 3.5px solid #B1C387;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

::-moz-selection { /* Code for Firefox */
  color: var(--green-color);
  background: var(--text-color);
}

::selection {
  color: var(--green-color);
  background: var(--text-color);
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}


@font-face {
  font-family: wanoSemibold;
  src: url(../public/fonts/WanoQuin-SemiBold.otf);
}

@font-face {
  font-family: wanoMedium;
  src: url(../public/fonts/WanoQuin-Medium.otf);
}

@font-face {
  font-family: wanoRegular;
  src: url(../public/fonts/WanoQuin-Regular.otf);
}

@font-face {
  font-family: abigral;
  src: url(../public/fonts/Abigral.otf);
}

@font-face {
  font-family: wanoBold;
  src: url(../public/fonts/WanoQuin-Bold.otf);
}